@font-face { 
  font-family: '文鼎PL简报宋';
  src: url('../../static/font/文鼎PL简报宋.ttf');
}

@font-face { // 头部 标题
  font-family: '庞门正道真贵楷体';
  src: url('../../static/font/庞门正道真贵楷体.ttf');
}

@font-face {
  font-family: 'HyFTroy-2';
  src: url('../../static/font/HyFTroy-2.ttf')
}

